.App {
  text-align: center;
}

.addUserDiv {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.addUserDiv * {
  margin: 5px 0;
}
